:root {
  --primary-color: #0898ef;
  --secondary-color: #230133;
  --primary-link-color: #fff;
  --secondary-link-color: #000;
}

/* Box Model Fix
https://css-tricks.com/box-sizing/#:~:text=Universal%20Box%20Sizing%20with%20Inheritance
------------------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Global Styles
------------------------------------- */
body {
  color: var(--main-text-color);
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 300px;
}

a:hover {
  text-decoration: none; /* remove default underline */
}

/* in effect, this is the actual content for a section of the page.
it should be center aligned and not span the entire width of the page.  */
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
}

/* remove the whitespace between some sections on
the page.*/
.content-wrap {
  padding: 60px 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2 {
  font-family: 'Lemon', cursive;
  font-weight: 400;
}

.item-details h3 + p {
  /* this combination is used in Work Experience
  and education */
  font-style: italic;
}

.item-details h3 + p {
  /* this combination is used in Work Experience
  and Education */
  margin: 0;
}

/* Profile
------------------------------------- */
.profile {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
}

.profile a {
  color: var(--primary-link-color);
}

/* Projects
------------------------------------- */
.projects {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.projects .link {
  color: var(--secondary-link-color);
}

.btn {
  /* bootstrap class
  https://getbootstrap.com/docs/5.0/components/buttons/ */
  }

.btn-dark {
  /* bootstrap class
  https://getbootstrap.com/docs/5.0/components/buttons/ */
}

.project-item img {
  float: left;
  /* padding-left chosen with guidande from bootstrap px-3
  https://getbootstrap.com/docs/5.0/utilities/spacing/#:~:text=Copy-,%24spacer%3A%201rem%3B,-%24spacers%3A%20(%0A%20%200%3A%200 */
  padding: 1rem;
}

.project-item {
  /* overflow: hidden; */
  display: flow-root;
}

.projects.divider section {
  border-bottom: 1px dashed var(--secondary-color);
  padding: 2rem 0;
}

.projects.divider section:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

/* Work Experience
------------------------------------- */
.work-experience {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.work-experience a {
  color: var(--primary-link-color);
}

.work-experience.divider section {
  border-bottom: 1px dashed var(--primary-color);
  padding: 2rem 0;
}

.work-experience.divider section:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

/* Education
------------------------------------- */
.education {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.education a {
  color: var(--secondary-link-color);
}

.education {
  background-image: url(../images/sharon-mccutcheon-unsplash.jpg);
  background-size: cover;
  background-position: bottom center;
}

/* Contact Info
------------------------------------- */
.contact-info {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
}

.contact-info a {
  color: var(--primary-link-color);
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list.flex-parent {
  /* display: flex; */
  /* justify-content: center; */
}

.contact-list a {
  display: inline-block; /* makes it so the padding gives the user more space to click/tap */
  padding: 1rem;
}

/* Responsive Design
------------------------------------- */
@media screen and (min-width: 700px){
  /** for sizes 700px and larger */
  h1 {
    font-size: 6.25rem;
  }
  h2 {
    font-size: 3rem;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr; /*second column will be twice the size of the first column */
    column-gap: 16px;
  }
  .contact-list.flex-parent {
    display: flex;
    justify-content: center;
  }
  .education div {
    padding-right: 19rem;
  }
}

@media screen and (max-width: 700px){
  /** for sizes 699px and smaller */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .contact-info a {
    padding: 0.25rem;
  }
  .education div {
    padding-right: 8rem;
  }
}

@media screen and (max-width: 350px){
  /** for sizes 300px and smaller */
  img {
    width: 210px;
  }
  .education div {
    padding-right: 1rem;
  }
}



/* Construction Styles
------------------------------------- */
html {
  /* border: #ff33cc 5px solid; */
}

body {
  border: yellow 5px solid;
}

h1, h2, h3, p, section, ul, .btn, img, header, footer {
  border: lime 3px solid;
  background-color: hsla(120, 100%, 50%, 0.2);
}
