:root {
  --primary-color: #0898ef;
  --secondary-color: #230133;
  --primary-link-color: #fff;
  --secondary-link-color: #000;
}

/* Box Model Fix
https://css-tricks.com/box-sizing/#:~:text=Universal%20Box%20Sizing%20with%20Inheritance
------------------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Global Styles
------------------------------------- */
body {
  color: var(--main-text-color);
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 300px;
}

a:hover {
  text-decoration: none; /* remove default underline */
}

/* in effect, this is the actual content for a section of the page.
it should be center aligned and not span the entire width of the page.  */
.content-wrap {
  width: 900px;
  margin: 0 auto;
}

/* remove the whitespace between some sections on
the page.*/
.content-wrap {
  padding: 60px 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2 {
  font-family: 'Lemon', cursive;
  font-weight: 400;
}

h1 {
  font-size: 6.25rem;
}

h2 {
  font-size: 3rem;
}

/* Profile
------------------------------------- */
.profile {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
}

.profile a {
  color: var(--primary-link-color);
}

/* Projects
------------------------------------- */
.projects {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.projects a {
  color: var(--secondary-link-color);
}

.btn {
  /* bootstrap class
  https://getbootstrap.com/docs/5.0/components/buttons/ */
  }

.btn-secondary {
  /* bootstrap class
  https://getbootstrap.com/docs/5.0/components/buttons/ */
}

.project-item img {
  float: left;
  /* padding-left chosen with guidande from bootstrap px-3
  https://getbootstrap.com/docs/5.0/utilities/spacing/#:~:text=Copy-,%24spacer%3A%201rem%3B,-%24spacers%3A%20(%0A%20%200%3A%200 */
  padding: 1rem;
}

.project-item {
  /* overflow: hidden; */
  display: flow-root;
  border-bottom: 1px dashed var(--secondary-color);
}

/* Work Experience
------------------------------------- */
.work-experience {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.work-experience a {
  color: var(--primary-link-color);
}

/* Education
------------------------------------- */
.education {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.education a {
  color: var(--secondary-link-color);
}

/* Contact Info
------------------------------------- */
.contact-info {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
}

.contact-info a {
  color: var(--primary-link-color);
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list.flex-parent {
  display: flex;
  justify-content: center;
}

.contact-list a {
  display: inline-block; /* makes it so the padding gives the user more space to click/tap */
  padding: 1rem;
}


/* Construction Styles
------------------------------------- */
html {
  border: #ff33cc 5px solid;
}

body {
  border: yellow 5px solid;
}

h1, h2, h3, p, section, ul, .btn, img, header, footer {
  border: lime 3px solid;
  background-color: hsla(120, 100%, 50%, 0.2);
}
